[DEFAULT]
# possible values: [test]|export|delete|detach
mode = test

[EXPORT]
export_folder = export

[MAIL]
# leave empty for all folders
mail_folder =
email_age_days = 365
ignore_flagged = true
max_attachment_size = 256kb
max_mail_size = 4MB

[MAILSERVER]
server = mailserver
user = account
password = password
